/* JQUERY UI STUFF */

.ui-datepicker { width: 20em; -webkit-box-shadow:0px 3px 16px #222 !important}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 12px; width: 18px; height: 19px; background:#000;}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {cursor:pointer}
.ui-datepicker .ui-datepicker-prev { background: url(/images/datenav.png); left:10px; }
.ui-datepicker .ui-datepicker-next { background: url(/images/datenav.png); right:10px; background-position:-18px 0px}
.ui-datepicker .ui-datepicker-next:hover {background-position:-18px -19px} 
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display: none; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }

.ui-datepicker .ui-datepicker-title { line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse}
.ui-datepicker th { padding: 8px 0px; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* GENERAL DIALOG IMPROVEMENTS */

.ui-dialog { position: absolute; padding: .2em; overflow: hidden}
.ui-dialog { padding:0px !important; border:none}

.ui-dialog a {color: #1389d3 } .ui-dialog a:hover {text-decoration:underline}

.register, .input-bold { font-weight:bold; }
.input-bold { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B0B8BE), to(#D5D6D8)); }

/* Close Dialog Button */			

.ui-dialog .ui-dialog-titlebar-close { 
width:18px; height:19px; background:url(/images/close.png);position: absolute; top:12px; right:12px}

.ui-dialog .ui-dialog-titlebar-close span { display:none}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus, .ui-datepicker-prev:hover, .ui-datepicker-next:hover {background-position: 0px -19px}

/* CLEARFIX FOR TEXT */

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}
.clearfix {display: inline-block}
html[xmlns] .clearfix {display: block}
* html .clearfix {height: 1%}

/* CLEARFIX FOR BUTTONS */

.ui-dialog-buttonset {min-height:30px; padding:12px}

/* LOGIN DIALOG --------------------------------------------------------------------------------------- */

p.pwd { padding-top:6px !important; float:left; font-size:12px; font-weight:bold; text-shadow:0px 1px 1px #fff;  color:#737781}
p.pwd a {font-size:12px; font-weight:bold; text-shadow:0px 1px 1px #fff;  color:#737781}
p.pwd input {margin-right:8px}

#account-buttons #account-loader {display: none; position: absolute; bottom: 12px; right: 200px; background:transparent}

#account-buttons {
margin:12px -12px 0px -12px;
background:#eef1f8; 
padding:14px  24px !important; 
border-top:1px solid #c5c8ce !important;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px}

a.facebooklogin {
cursor:pointer;
text-indent: -23981px;
float:right; 
background:url(/images/facebooklogin.png) no-repeat;
display:block;
height:31px;
width:84px;
margin-left:12px}

a.facebooklogin:hover {background-position:0px -31px}

.dialog-login .ui-dialog-buttonset {padding:0px !important; border-radius:0px;-webkit-border-radius:0px; border:none !important}

.ui-widget-overlay {
position: absolute; top: 0; left: 0; width: 100%; height: 100%;
background:#000;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
opacity:0.5; 
filter:Alpha(opacity=50);
-moz-opacity: 0.5;}

.ui-widget-overlay-wood {top:1px;background: #000 url(/backgrounds/wood.jpg) top center no-repeat ; opacity:1 ;overflow:visible}

.dialog-login{ 
-webkit-box-shadow:0px 3px 16px #222;
position:relative !important; top:50% !important; left:auto !important;  margin:-125px auto -250px auto !important; height: 250px !important; width:500px !important }

.dialog-edit-profile {width:470px !important; margin-left: -240px !important;}

	div.errorwrap {height:14px; padding-top:4px}
	
	.forgotpwbuttons div.errorwrap {clear:both; display:none}

	div.errorwrap p {text-align:left; color:#c83021; font-size:11px; font-weight:bold; text-shadow:0px 1px 1px #fff; padding:0px !important}
	
	.input-red {border-color: #c83021 !important}

.dialog-edit-profile { margin-left:-163px ; width:320px !important; margin-top:-163px}
.ui-widget-content {
border-bottom:none; border-top:1px solid #fff ;	
background:#e3e6ed ;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0px 3px 16px #222;
-moz-box-shadow:0px 3px 16px #222;
box-shadow:0px 3px 16px #222}

.ui-dialog .ui-widget-content {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
border:none}

	.ui-widget-content p { padding:10px 0px; line-height:18px}
	
	.ui-widget-content .small { line-height:12px }

.ui-dialog .ui-dialog-content {
min-height:0px !important;
-webkit-gradient:none;
-webkit-box-shadow:none; 
-moz-box-shadow:none; 
box-shadow:none;
padding: 0em 1em ; 
border:none !important}

.ui-widget-header, .ui-datepicker-header{
position:relative;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
height:20px !important;
background: url(/images/dialoghead.png) -1px center;
border:none ;border-bottom:1px solid #9ea0a6;
font-weight:bold;
color:#4b4e54 ;font-size:14px ; padding:15px 12px 9px 12px; text-shadow:0px 1px 1px #fff}

.ui-dialog-content .custom-dialog-headline {
color:#4b4e54 ;font-size:14px ; padding:12px 0px ; padding-left:13px  ;text-shadow:0px 1px 1px #fff;
-webkit-box-shadow:0px 1px 1px #fff; -moz-box-shadow:0px 1px 1px #fff; box-shadow:0px 1px 1px #fff; font-weight:bold; margin-left:-13px; margin-right:-13px}

.dialog-login .ui-dialog-titlebar-close {display: none}

.socialform p {padding-left:130px; padding-top:20px; padding-bottom:0px}
.socialform p.ui-dialog-buttonset {padding-top:10px; padding-bottom:20px;}

.wunderlistlogo {position:absolute; width:104px; height:131px; position:absolute; top:68px}

.dialog-login .wunderlistlogo {margin-left:12px}

.formright {margin-left:130px; margin-top:24px; margin-right:12px}

.input-login {display:block; width:94%; padding:8px; margin-top:8px;
-webkit-box-shadow:0px 1px 0px #fff;-moz-box-shadow:0px 1px 0px #fff;box-shadow:0px 1px 0px #fff;
border:1px solid #adadad;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#fff;font-size:12px;color:#777}

.input-normal {width:96%; padding: 2%; margin-top:12px ;
-webkit-box-shadow:0px 1px 1px #fff;-moz-box-shadow:0px 1px 1px #fff;box-shadow:0px 1px 1px #fff;
border:1px solid #adadad;-webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; background:#fff;font-size:12px;color:#777}

.input-button, button {
font-size:12px;
background:#e3e4e5;
background:-webkit-gradient(linear, left top, left bottom, from(#e1e3e8), to(#cacfd9));
background: -moz-linear-gradient(top,  #e1e3e8,  #cacfd9);

color:#424242;
-webkit-box-shadow:inset 0px 1px 0px #fff;
-moz-box-shadow:inset 0px 0px 1px #fff;
box-shadow:inset 0px 1px 0px #fff;
border:1px solid #939494;
padding:7px 12px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
font-weight:bold;
text-shadow:0px 1px 5px #f0f0f0;
margin-left:12px;
float:right;
cursor:pointer}

.input-button:hover, button:hover {
background:#cacfd9;
background:-webkit-gradient(linear, left top, left bottom, from(#c0c9cf), to(#e6e7e9));
background: -moz-linear-gradient(top,  #c0c9cf,  #e6e7e9)}

.button-login {
-webkit-box-shadow:inset 0px 1px 0px #84c7f4; -moz-box-shadow:inset 0px 1px 0px #84c7f4; box-shadow:inset 0px 1px 0px #84c7f4;
color:#fff;border:1px solid #166fa9;text-shadow:1px 1px 1px #166fa9;
background:#32a3f0;
background:-webkit-gradient(linear, left top, left bottom, from(#32a3f0), to(#1389d3));
background: -moz-linear-gradient(top,  #32a3f0,  #1389d3) ;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px}

.button-login:hover {
background:#1389d3;
background:-webkit-gradient(linear, left top, left bottom, from(#1389d3), to(#32a3f0));
background: -moz-linear-gradient(top,  #1389d3,  #32a3f0)}

/* CLOUDAPP DIALOG --------------------------------------------------------------------------------------- */

.dialog-cloudapp {width:320px !important}

/* NEW LOGIN / REGISTER / FORGOT PW ------------------------------------------------------------------ */

.showregisterdialog, .forgotpwbuttons {display:none; position:relative}

.registertutorial {
position:absolute;
right:-180px;
top:-80px;
text-indent: -29856px;
width:162px;
height:223px;
background:url(/images/registertutorial.png)}

	.forgotpwbuttons {position:relative}

	.forgotpwbuttons input.input-forgotpw { width:200px; float:left; margin:0px; padding:8px; font-size:11px}
	
	.whiteoverlay {width:480px; height:146px; background:white; position:absolute; top:-161px; right:-24px; opacity: 0.5}

/* SWITCH DATE FORMAT ---------------------------------------------------------------------------------*/

.input[type=radio] { margin-right:6px}

/* NOTES DIALOG ---------------------------------------------------------------------------------------- */

.dialog-notes { position:absolute; height:100% !important; width:100% !important; background:#F5F5F5 !Important}

.dialog-notes .notes_buffer { position:absolute; top:50px; right:0px; left:0px; bottom:60px}

.dialog-notes .hint {margin-left:12px; font-weight:bold; margin-top:6px; display:block; float:left}

.dialog-notes textarea, .dialog-notes .savednote {
position:absolute; border:none; background:none; 
width:100%; height:100%; line-height: 22px; color:#333; font-size: 12px;
word-wrap: break-word}

.dialog-notes .savednote {overflow:auto}

.dialog-notes .savednote .inner {background: url(/images/notebg.png); padding:5px 20px 0px 20px; color:#333; min-height:98%}

.dialog-notes .savednote .inner a { color: #2b96f1; text-decoration: underline}

.dialog-notes .savednote span.openApp { color:#1389D3}
.dialog-notes .savednote span.openApp:hover { color:#1389D3; cursor: pointer; text-decoration: underline}

.dialog-notes textarea {
margin:0 1%;
width:96% !important;
-webkit-box-shadow:0px 1px 1px #fff;
-moz-box-shadow:0px 1px 1px #fff;
box-shadow:0px 1px 1px #fff;
border:1px solid #ccc;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
padding:1%; background:#fff; border:1px solid #ddd; height:94% !important}

.dialog-notes .ui-widget-header {background:#f5f5f5 ; border:none ; padding-bottom:0px}
.dialog-notes .ui-dialog-title {
font-size:16px;
left:14px;
white-space: nowrap; 
text-overflow: ellipsis; 
right:40px; 
overflow:hidden; 
position:absolute}

.notes_buttons { 
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; 
position:absolute; bottom:0px; right:0px; left:0px; height:30px; padding-bottom:18px; padding-right:14px; background:#f5f5f5}

.notes_buttons input#save-and-close { display: none}

/* SOCIAL MEDIA SHARE DIALOG ---------------------------------------------------------------------------- */

.dialog-social, .dialog-sharelist {
position:absolute; top: 50% !important; left: 50% !important; margin-left: -250px; margin-top: -140px; height: 280px !important; width:500px !important}

.dialog-social .invitefriends { font-size:16px; font-weight:bold; margin-top:12px; color:#333}

.dialog-social .wunderlistlogo {width:128px; background:url(/images/wlicon.png) no-repeat;margin-left:7px;;}

.dialog-social input {margin-left:0px; margin-right:0px}

.dialog-social input.input-social {float:left; width:250px}

.dialog-social input.button-social {float:right; height:32px; width:70px; font-weight:bold; margin:8px 0px 10px 7px}

p.socialmedia { 
width:100%;
clear:both; border-top:1px solid #b7bdcb ; 
box-shadow:inset 0px 1px 1px #fff;
-moz-box-shadow:inset 0px 1px 1px #fff;
-webkit-box-shadow:inset 0px 1px 1px #fff; margin:0px -13px; padding:12px 12px 0px 12px}

p.socialmedia span { font-size:14px; font-weight:bold; display:block;margin-top:7px;margin-bottom:7px}

p.socialmedia span.icons a, .followus p a {
display:block; width:32px; height:32px; float:right; margin-left:14px; text-indent: -32879px;

-webkit-box-shadow:inset 0px 1px 3px #999;
-moz-box-shadow:0px 1px 3px #999;
box-shadow:inset 0px 1px 3px #999;

-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px}

p.socialmedia span.icons a:hover , .followus p a:hover { -webkit-box-shadow:0px 2px 3px #444; box-shadow:0px 2px 3px #444; -moz-box-shadow:0px 2px 3px #444}
p.socialmedia span.icons a.facebook,  .followfacebook  { background:url(/images/icons/facebook.png)}
p.socialmedia span.icons a.twitter, .followtwitter { background:url(/images/icons/twitter.png)}
p.socialmedia span.icons a.stumbleupon { background:url(/images/icons/stumbleupon.png)}
p.socialmedia span.icons a.digg { background:url(/images/icons/digg.png)}

.textarea-dialog {
width: 323px; height:50px; padding:10px; margin-top:6px; margin-bottom:-6px;
-webkit-box-shadow:0px 1px 1px #fff;
-moz-box-shadow:0px 1px 1px #fff;
box-shadow:0px 1px 1px #fff;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
border:1px solid #9c9ea4; font-size:11px; color:#777}

/* SHARE LIST DIALOG ------------------------------------------------------------------------------------ */

.dialog-sharelist {width:400px !important; margin-left:-250px; height:auto !important; top:40% !important}

	#send_share_invitation {margin-top:8px;}

	.dialog-sharelist ul { overflow-y:auto !important; max-height:100px !important; margin-bottom:40px}

	.dialog-sharelist ul li {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity:0.7; 
	-moz-opacity: 0.7;
	background:#33a3ef;
	background:-webkit-gradient(linear, left top, left bottom, from(#33a3ef), to(#168ad4)) ;
	background:-moz-linear-gradient(top,  #33a3ef,  #168ad4) ;
	border-bottom:1px solid #177bbd; color:#fff;text-shadow: #125a8a 0px 1px 2px; 
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	padding:5px;margin-bottom:4px}
		
		.dialog-sharelist ul li:hover {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1.0;-moz-opacity: 1.0}
		
		.dialog-sharelist li span { background:url(/images/icons/delete_white.png); cursor:pointer; margin-right:4px; width:14px; height:14px; float:right; opacity:0.5}
		.dialog-sharelist li span:hover {opacity:1.0}

		.dialog-sharelist input.input-sharelist {width:96%; padding:5px 2%}
		
		.dialog-sharelist {overflow:inherit}
	
		.ui-dialog p.small {
		text-shadow: #fff 0px 1px 2px;
		padding:6px;
		-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
		border:1px solid #fff;
		font-size:11px;
		line-height:18px ;
		margin-top:6px;
		background: #f3f4f6}
				
.delete-all-shared-lists {position:absolute; bottom:12px; right:12px; width:auto !important}
	
/* FOLLOW LINKS @ LOGIN DIALOG --------------------------------------------------------------------------- */

.followus { position:relative; clear:both; display: none}

.dialog-login, .dialog-login div {overflow:visible}

.followus p {position:absolute; bottom:-190px; left: -50px; background:url(/images/followus.png) 0px 10px no-repeat; padding-left:80px; width:460px}
.followus p a { margin-left:2px; margin-right:8px; -webkit-box-shadow:0px 1px 3px #666; -moz-box-shadow:0px 1px 3px #666; box-shadow:0px 1px 3px #666; float:left;}
.followus p a:hover { -webkit-box-shadow:0px 1px 3px #333; box-shadow:0px 1px 3px #333; box-shadow:0px 1px 3px #333}

/* HEADLINE @ LOGIN DIALOG --------------------------------------------------------------------------- */

.dialog-login h1 {text-indent: -9678px; height:57px; width:303px; position:absolute; left:85px;  top: -72px; background:url(/images/headline.png) no-repeat}
.dialog-login h2, .dialog-login h3 {display:none}

.seefeatures {Position:absolute; height:44px; width:179px; top:-70px; left:150px;background:url(/images/seefeatures.png) no-repeat; text-indent: -45123px}
.seefeatures:hover {background-position:0px -44px}

.wkseparator {position:absolute; width:560px; height:2px; background:url(/images/wkseparator.png); left:-30px; bottom:-130px;}

.wkdownload {position:absolute; width:570px; height:88px; left:-44px; bottom:-110px; text-align:center}

	.wkdownload a {width:114px; height:88px; display:inline-block; text-indent: -23718px; background:url(/images/download.png);}
	
		.wkdownload .iphone {background-position: 0px -88px}
		.wkdownload .iphone:hover {background-position: 0px 0px}
		
		.wkdownload .ipad {background-position: 456px -88px}
		.wkdownload .ipad:hover {background-position: 456px 0px}
		
		.wkdownload .android {background-position: 342px -88px}
		.wkdownload .android:hover {background-position: 342px 0px}
		
		.wkdownload .windows {background-position: 228px -88px}
		.wkdownload .windows:hover {background-position: 228px 0px}
		
		.wkdownload .mac {background-position: 114px -88px}
		.wkdownload .mac:hover {background-position: 114px 0px}
		
		.wkdownload .notyet {opacity:0.5}
		.wkdownload .notyet:hover {background-position: 342px -88px; cursor:default}

.wklogo {position:absolute; width:580px; height:50px; background: url(/images/wklogo.png) 247px 9px no-repeat; 
bottom:-190px; left:-38px; cursor: pointer; text-indent: -34129px}

.wklogowhite {display: block; width:329px; height:49px; position:absolute; left:191px; bottom:-185px; background: url(/images/wklogowhite.png); text-indent: -34129px}

.freewunderlist {background:url(/images/free.png);width:95px;height:103px;position:absolute;top:-3px;right:-16px; text-indent: -4303px}

/* DATEPICKER DIALOG ------------------------------------------------------------------------------------ */

.ui-datepicker-header {padding:10px !important; height:20px !important;}

.ui-datepicker-calendar a.ui-state-default {
padding-right:5px;
color:#666;
background:#fff;
background: -moz-linear-gradient(top,  #fff,  #ececec) ;
background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec));
border:1px solid #ccc}

.ui-datepicker-calendar .ui-state-highlight {
color:#fff !important;
border: 1px solid #59a6e7 !important;
font-weight:bold !important;
background:url(/images/bottombar_active_light.png) top left repeat-x !important;}

.ui-datepicker-calendar .ui-datepicker-current-day .ui-state-active {
background:url(/images/bottombar_active.png) top left repeat-x !important;
border: 1px solid #4580b1 !important;
font-weight:bold;
color:#fff !important}

.ui-datepicker-calendar th {color:#4b4e54}

div.remove_date {
float:right;
font-weight:bold;
color:#4b4e54;
margin-right:5px;
margin-bottom:5px}

/* CREDITS DIALOG --------------------------------------------------------------------------------------- */

.dialog-credits {width:540px !important; margin-left:-270px; left:50%}

/* CONFIRM DIALOG --------------------------------------------------------------------------------------- */

.dialog-delete-task, .dialog-delete-list {width: 400px !important}

.dialog-confirm {width:auto !important }

/* DATE FORMAT SWITCHER DIALOG ---------------------------------------------------------------------------- */

.custom-dialog-headline { display: block; padding-left: 5px ; padding-bottom: 15px ; padding-top: 10px}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
