html{background:url("/backgrounds/wood.jpg") no-repeat fixed;overflow:hidden;height:100%}
body{display:none;font-size:12px;color:#4e4e4e;overflow:hidden;height:100%;border-top:0 solid #666;background-origin:padding-box;background-size:cover}
body,button,input,select,textarea{font-family:'Open Sans','Lucida Grande',Arial,sans-serif}
#login{overflow:auto;position:relative;height:100%;}
#login .loginHeader,#login .loginFooter{text-align:center;position:absolute;left:0;right:0}
#login .loginHeader{top:100px;}
#login .loginHeader h1{text-indent:-9678px;height:120px;width:640px;background:url("/images/headline.png") no-repeat;margin:0 auto 10px auto}
#login .loginHeader h2{display:none}
#login .loginHeader .seefeatures,#login .loginHeader .visitblog{text-indent:-45123px;display:inline-block;height:44px;width:179px}
#login .loginHeader .seefeatures{left:150px;background:url("/images/seefeatures.png") no-repeat 0 0;margin-right:11px;}
#login .loginHeader .seefeatures:hover{background-position:0 -44px}
#login .loginHeader .visitblog{left:245px;background:url("/images/visitblog.png") no-repeat;}
#login .loginHeader .visitblog:hover{background-position:0 -44px}
#login .loginFooter{top:580px;}
#login .loginFooter > div{margin-left:auto;margin-right:auto}
#login .wkdownload{width:700px;height:110px;}
#login .wkdownload a{width:114px;height:88px;display:inline-block;text-indent:-23718px;background:url("/images/download.png")}
#login .wkdownload .iphone{background-position:0 -88px;}
#login .wkdownload .iphone:hover{background-position:0 0}
#login .wkdownload .ipad{background-position:570px -88px;}
#login .wkdownload .ipad:hover{background-position:570px 0}
#login .wkdownload .android{background-position:456px -88px;}
#login .wkdownload .android:hover{background-position:456px 0}
#login .wkdownload .windows{background-position:342px -88px;}
#login .wkdownload .windows:hover{background-position:342px 0}
#login .wkdownload .mac{background-position:228px -88px;}
#login .wkdownload .mac:hover{background-position:228px 0}
#login .wkdownload .linux{background-position:114px -88px;}
#login .wkdownload .linux:hover{background-position:114px 0}
#login .wkdownload .notyet{opacity:.5;cursor:default;}
#login .wkdownload .notyet:hover{background-position:342px -88px}
#login .wkseparator{width:560px;height:2px;background:url("/images/wkseparator.png")}
#login .followus{clear:both;width:520px;height:50px;overflow:hidden;margin-top:15px;margin-bottom:30px;}
#login .followus p{background:url("/images/followus.png") 0 10px no-repeat;padding-left:80px;width:430px;margin:0 auto;overflow:auto}
#login .followus p a.follow{margin-left:2px;margin-right:8px;margin:10px 8px 0 2px;-webkit-box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;-ms-box-shadow:0 1px 3px #666;-o-box-shadow:0 1px 3px #666;box-shadow:0 1px 3px #666;float:left;display:block;width:32px;height:32px;text-indent:-32879px;border-radius:5px;opacity:.8;}
#login .followus p a.follow:hover{opacity:1;-webkit-box-shadow:0 1px 5px #333;-moz-box-shadow:0 1px 5px #333;-ms-box-shadow:0 1px 5px #333;-o-box-shadow:0 1px 5px #333;box-shadow:0 1px 5px #333}
#login .followus a.facebook{background:url("/images/icons/facebook.png")}
#login .followus a.twitter{background:url("/images/icons/twitter.png")}
#login .followus .wklogo{width:580px;height:50px;background:url("/images/wklogo.png") 247px 9px no-repeat;cursor:pointer;text-indent:-34129px}
#login .followus a.wklogowhite{display:block;width:330px;height:50px;background:url("/images/wklogowhite.png") 0 0 no-repeat;text-indent:-34129px;opacity:0;float:right}
#login .followus:hover .wklogo{margin-top:-55px;opacity:0}
#login .followus:hover a.wklogowhite{opacity:1}
#login .followus .wklogo,#login .followus .wklogowhite{-webkit-transition:opacity .6s ease-out,margin-top .4s ease-in-out;-moz-transition:opacity .6s ease-out,margin-top .4s ease-in-out;-ms-transition:opacity .6s ease-out,margin-top .4s ease-in-out;-o-transition:opacity .6s ease-out,margin-top .4s ease-in-out;transition:opacity .6s ease-out,margin-top .4s ease-in-out}
