/* SIDEBAR ----------------------------------------------------------------------------------------------- */

#sidebar {
  right: 0px;
  background: url(/images/sidebar.png) right repeat-y;
  width: 269px;
  height: 100%;
  top: 0px;
  position: fixed;
  overflow: hidden;
}

#sidebar h3, #lists, #notification {
  position: absolute;
  left: 0;
  right: 0;
}

#lists {
  overflow-y: auto;
  overflow-x: hidden;
  top: 61px;
  bottom: 36px;
  width: 258px;
  margin-left: 11px;
}

#sidebar h3 {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F7F8), to(#E7EAF2));
  background: -moz-linear-gradient(top, #F6F7F8, #E7EAF2);
  border-bottom: 1px solid #D1D2D4;
  margin-left: 10px;
  padding: 21px 0;
  top: 0;
}

#sidebar h3 a{
  display: inline-block;
  text-indent: -9999px;
}

#sidebar .separator {
  border-bottom: 1px solid #e8e9f0;
  height: 2px;
  width: 238px;
  right: 0px;
  position: absolute;
  top: 56px
}

#sidebar .searchside {
  position: absolute;
  left: 0;
  top: 5px;
  width: 204px;
  padding: 0;
  padding-left: 18px;
  margin-left: 20px;
  margin-top: 12px;
  border: 1px solid #c8cddd;
  background: #fff url(/images/searchicon.png) 5% 50% no-repeat;

  box-shadow:0px 1px 1px #fff;
  -webkit-box-shadow:0px 1px 1px #fff;
  -moz-box-shadow:0px 1px 1px #fff;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

input#search {
  border: 0 none;
  background: none;
  width: 160px;
  color: #444;
  padding: 5px;
  margin-left: 5px;
  font-size: 0.8em;
}

#sidebar .searchside .clearsearch {
  display: none;
  position: absolute;
  opacity: 0.7;
  background: url(/images/icons/delete_active.png);
  position: absolute;
  right: 100px;
  top: 4px;
  cursor: pointer;
  right: 6px;
  height: 14px;
  width: 14px;
}

#sidebar .searchside:hover .clearsearch {
  display: block;
}




/* List Action Icons */
#sidebar a.list div {
  cursor: pointer;
  margin-right: 4px;
  width: 14px;
  height: 14px;
  float: right;
  display: none;
  opacity: 0.6;
}

#sidebar a.list:hover div.sharelist, #sidebar a.list:hover div.sharedlist {
  display: block;
}

#sidebar a.list div:hover {
  opacity: 1.0;
}

#sidebar .deletep { 
  background:url(/images/icons/delete_active.png);
}

#sidebar .editp {
  background:url(/images/icons/edit_active.png);
}

#sidebar .savep {
  background: url(/images/icons/editdone_active.png);
}

#sidebar div.sharelist, #sidebar div.sharedlist {
  background: url(/images/icons/sharelist.png) top right no-repeat;
  width: 25px;
}

#sidebar .ui-state-disabled div.sharelist, #sidebar .ui-state-disabled div.sharedlist {
  background: url(/images/icons/sharelist_white.png) top center no-repeat;
  opacity: 1.0;
}




#sidebar b.inbox {
  padding-left: 24px;
  background: url(/images/icons/inbox.png) no-repeat;
  background-position: 0px 0px;
}

#sidebar b.sharep {
  padding-right: 22px;
}

#sidebar .list {
  cursor: pointer;
  color: #444;
  text-shadow: #fff 0px 1px 2px;
  padding: 10px 8px 0px 12px;
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f3f4f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f3f4f6);
  display: block;
  height: 23px;
  border-bottom: 1px solid #e1e2e4;
}

#sidebar .list:first-child {
  border-top: 1px solid #fff;
}

#sidebar .list:hover, #sidebar .list.hover {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f8fa));
  background: -moz-linear-gradient(top,  #fff,  #f7f8fa);
}

#sidebar .list b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  float: left;
  max-width: 130px;
}

#sidebar .placeholder {
  cursor: pointer;
  background: #e7eaf2;
  text-shadow: #fff 0px 1px 2px;
  padding: 10px 10px 0px 14px;
  display: block;
  height: 23px;
  border-bottom: 1px solid #fff;
}

#sidebar .list input, #sidebar .list .input-list {
  outline: none !important;
  background: #fff;
  border: 1px solid #bbb;
  padding: 4px 8px;
  margin-top: -4px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  border: none;
  font-family: Arial;
  margin-left: -1px;
  box-shadow: inset 1px 1px 3px #999;
  -webkit-box-shadow: inset 1px 1px 3px #999;
  -moz-box-shadow: inset 1px 1px 3px #999;
  width: 134px !important;
}

/* List Edit Icons */

#sidebar .ui-state-disabled input , #sidebar .ui-dropped-disabled input {
background: #21638c; color:#fff; 
-webkit-box-shadow: inset 1px 1px 3px #174460; 
-moz-box-shadow: inset 1px 1px 3px #174460;
box-shadow: inset 1px 1px 3px #174460}

#sidebar .ui-state-disabled div.deletep , #sidebar .ui-dropped-disabled div.deletep {background:url(/images/icons/delete_white.png)}
#sidebar .ui-state-disabled div.editp , #sidebar .ui-dropped-disabled div.editp {background:url(/images/icons/edit_white.png)}
#sidebar .ui-state-disabled div.savep , #sidebar .ui-dropped-disabled div.savep {background:url(/images/icons/editdone_white.png)}
#sidebar .ui-state-disabled b.inbox , #sidebar .ui-dropped-disabled b.inbox {background-position:0px -14px}

#sidebar .ui-state-disabled div , #sidebar .ui-dropped-disabled div {
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
opacity:0.5; 
-moz-opacity: 0.5}

#sidebar .ui-state-disabled div:hover , #sidebar .ui-dropped-disabled div:hover {
  opacity: 1.0;
}

#sidebar .ui-state-disabled, #sidebar .ui-dropped-disabled {
  background:#33a3ef !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#33a3ef), to(#168ad4)) !important;
  background: -moz-linear-gradient(top,  #33a3ef,  #168ad4) !important;
  border-bottom:1px solid #177bbd;
  color: #fff;
  text-shadow: #125a8a 0px 1px 2px;
}

#sidebar .ui-state-disabled, #sidebar .ui-dropped-disabled {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity:1.0; 
  -moz-opacity: 1.0;
}

#sidebar .ui-state-disabled span, #sidebar .ui-dropped-disabled span {
  background:url(/images/taskcounth.png) no-repeat;
}

.list span {
  text-shadow: none;
  font-size: 0.9em;
  float: right;
  width: 31px;
  height: 18px;
  background: url(/images/taskcount.png) no-repeat;
  text-align: center;
  display: block;
  padding-top: 1px;
  margin-top: -3px;
  font-weight: bold;
}

#sidebar #notification {
  background: #e7eaf2;
  border-top: 1px solid #fff;
  bottom: 36px;
  position: absolute;
  left: 10px;
  height: 32px;
  padding-top: 10px;
  width: 259px;
}

#sidebar #notification div {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  height: 21px;
  padding-top: 4px;
  width: 214px;
  color: #fff;
  text-shadow: 0px 1px 2px #2c0a0a;
  background-color: #b33;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d33), to(#811));
  background-image: -webkit-linear-gradient(top, #d33, #811);
  background-image: -moz-linear-gradient(top, #d33, #811);
  border: 1px solid #611;
  border-radius: 25px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s ease-in-out;
}

#sidebar #notification div:hover {
  text-shadow: 0px 1px 3px #100;
  opacity: 1.0;
}

/* SIDEBAR LEFT ---------------------------------------------------------------------------- */

.sidebarleft #content {
  right: 10px;
  left: 260px;
}

.sidebarleft #sidebar {
  background:url(/images/sidebar_left.png);
  left: 0;
}

.sidebarleft #lists {
  margin-left: 0;
  margin-right: 11px;
}

.sidebarleft #sidebar h3 {
  margin-left: 0;
  margin-right: 10px;
}

.sidebarleft #sidebar .searchside {
  left: -10px;
}

.sidebarleft #left {
  position: absolute;
  left: 268px;
}

.sidebarleft #right {
  float: left;
  padding: 10px 0 8px 16px;
}

.sidebarleft .togglesidebar {
  left: 8px;
  right: auto;
  background-position: -19px 0px;
}

.sidebarleft .hidden {
  background-position: 0px 0px;
}

.sidebarleft #right a {
  float: left !important;
}

/*.sidebarleft #backgroundList {left:16px}*/

.sidebarleft #sidebar #notification {
  left: 0px;
}

.sidebarleft .showhelp {
  margin: 0px 8px 0px 0px !important;
}



/* Animate the sidebar sliding ---------------- */
.slideTransition {
  -webkit-transition: 0.2s width ease-in-out, 0.2s right ease-in-out, 0.2s left ease-in-out;
     -moz-transition: 0.2s width ease-in-out, 0.2s right ease-in-out, 0.2s left ease-in-out;
       -o-transition: 0.2s width ease-in-out, 0.2s right ease-in-out, 0.2s left ease-in-out;
          transition: 0.2s width ease-in-out, 0.2s right ease-in-out, 0.2s left ease-in-out;
}

body.sidebarClosed #sidebar {
  width: 0;
}

body.sidebarClosed #content {
  right: 10px;
}

body.sidebarleft.sidebarClosed #content {
  left: 10px;
}