/* RESET -------------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  outline: none !important;
  text-decoration: none;
}

li {
  list-style: none;
}

/* GENERAL ----------------------------------------------------- */

html {
  background: #333;
  height: 100%;
  overflow: hidden;
}


body {
  display: none;
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 12px;
  color: #4e4e4e;
  overflow: hidden;
  height: 100%;
  border-top: 0px solid #666;
  background-image: url('../backgrounds/wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body.login {
  overflow: auto;
  position: relative;
}

body.login #content , body.login #bottombar , body.login #listfunctions, body.login #sidebar{
  display: none;
}

.red{
  color: #c30;
}

.cursor{cursor:pointer}

#loading {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
}

.remove_date {
  text-align:center;
  color:#11C;
  text-decoration:underline;
  padding-bottom:5px;
  font-size:10px;
  cursor:pointer;
}

a {
  color: #393939;
}

.pl8 {
  padding-left: 8px;
}



/* -- Share Functions Of Lists ---------------------------------------------------------------- */

#listfunctions {
  position: absolute;
  right: 280px;
  height: 17px;
  top: 10px;
  z-index: 2;
}

body.sidebarClosed #listfunctions {
  right: 20px;
}

#listfunctions a {
  width: 17px;
  height: 17px;
  background: #000;
  display: block;
  float: left;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5; 
  -moz-opacity: 0.5;
  cursor: pointer;
  margin-left: 10px;
}

#listfunctions a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1.0; 
  -moz-opacity: 1.0;
}

#listfunctions .list-print {background:url(/images/icons/print.png) no-repeat}
#listfunctions .list-email {background:url(/images/icons/sendmail.png) no-repeat}
#listfunctions .list-cloud {background:url(/images/icons/cloudapp.png) no-repeat}
#listfunctions .list-share {background:url(/images/icons/sharelist_white.png) no-repeat}

#printFrame {
  width: 1px;
  height: 1px;
  border: 0 none;
  position: absolute;
  top: -999px;
  left: -999px;
}


/* -- CUSTOM CHECKBOXES ---------------------------------------------------------------- */

.checkboxcon {width:15px;height:15px;background:url(/images/checkbox.png) no-repeat;
cursor:pointer;overflow:hidden;position:relative; float:left; margin-right:8px; margin-top:-1px}

.input-checked {position:relative;left:30px}
.checked {background-position:0px -15px !important}

/* -- TOOLTIP --------------------------------------------------------------------------- */

#sync_tooltip, #tooltip, #taskTooltip, #cloudtip {position:absolute;background:rgba(0,0,0,0.5); -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:5px 8px 5px 8px;color:#fff;z-index:100;font-size:11px;display:none}

#cloudtip { top:24px; right:-10px; width:300px}

#cloudtip span.link { color: #fff; float:left; display:block; margin-top:1px}
#cloudtip span.link:hover { text-decoration: underline; cursor: pointer}

#cloudtip span.copy { background:rgba(255,255,255,0.2); border-radius:14px; -webkit-border-radius:14px;  -moz-border-radius:14px; padding:1px 5px 0px 5px;float:right; cursor:pointer; display:block; font-size:9px;margin-top:1px; margin-right:-2px;}
#cloudtip span.copy:hover { background:rgba(255,255,255,0.4)}

#cloudtip span.triangle {border:4px solid transparent; border-bottom:4px solid rgba(0,0,0,0.5); height:0px; width:0px; position:absolute; right:14px; top:-8px;}

#taskTooltip {background:#333;opacity:0.9;width:220px;padding:7px 8px;line-height:16px;font-size:12px;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px}
#taskTooltip span {position:absolute;left:105px;height:0px; width:0px;border-style: solid}
#taskTooltip span.top {border-color: transparent transparent #333 transparent;border-width: 0px 10px 10px 10px;top:-10px}
#taskTooltip span.bottom {border-color: #333 transparent transparent transparent;border-width: 10px 10px 0px 10px;bottom:-10px}