.DS_Store
dist
.project
timanifest
manifest
*.json
version.txt
.nodester.appconfig
node_modules
backup
.monitor
web/js/*-min.js
web/css/*-min.css
web/templates/*-min.templates
desktop/Makefile
desktop/bin
desktop/*.pro.user
*.o
