/* Bottom Bar */
#bottombar {
  background:url(../images/bottombar.png) repeat-x;
  position:fixed;
  bottom:0px;
  left:0px;
  height:36px;
  width:100%;
}



/* Left Section */
#left {
  float: left;
  padding: 8px;
  padding-right: 0px;
  padding-left: 4px;
}



/* Sync Stuff */

#sync {
  /*position:fixed; bottom:6px; left:9px;*/
  position: relative;
  display:inline-block;
  float:left;
  background-image: url(../images/sync_green.png);
  background-repeat: no-repeat;
  height:22px;
  width:28px;
  cursor: pointer;
}

#sync.sync_red {
  background:url(../images/sync_red.png);
}

#syncing {
  /*position:fixed; bottom:11px; left:14px;*/
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 5px;
  height:14px;
  width:14px;
  background-image: url(../images/sync_arrow.png);
  
  -webkit-transition: 0.8s -webkit-transform linear;
  -moz-transition: 0.8s -moz-transform linear;
  -o-transition: 0.8s -o-transform linear;
  transition: 0.8s transform linear;
}


#left a.filter, #right a.addlist {
  padding: 2px 8px;
  height: 16px;
  font-size: 0.9em;
  border: 0px solid #343434;
  cursor:pointer;
}

/* Filters */
#left a.filter {
  float: left;
  color: #cccccc;
  display: block;
  cursor: pointer;
  border-width: 1px 0 1px 1px;
  -webkit-box-shadow:0px 1px 0px #676767;
  -moz-box-shadow:0px 1px 0px #676767;
  box-shadow:0px 1px 0px #676767;
  text-shadow: 0px 1px 2px #333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#4f4f4f));
  background-image: -webkit-linear-gradient(top, #444, #4f4f4f);
  background-image: -moz-linear-gradient(top, #444, #4f4f4f);
  background-image: -o-linear-gradient(top, #444, #4f4f4f);
}

#left a.roundedleft {
  border-right-width: 0px;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
}

#left a.roundedright {
  border-width: 1px;
  margin-right:12px;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
}

#left a.roundedboth {
  border-width: 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#left a.loggedinas {
  min-width:100px;
  text-align:center;
  padding-left: 15px;
  margin-right: 6px;
  position:relative;
}

#left a.more {
  line-height: 1.2em;
}

#left a.loggedinas span::before {
  background: url(../images/menuopen.png);
  width: 8px;
  height: 4px;
  top: 8px;
  left: 8px;
  position: absolute;
  content: " ";
  background-repeat: no-repeat;
}

#left a.filter:hover, #left a.active, #left a.droppable, #right a.addlist {
  color: #fff;
  background-color: #2C8AD0;
  text-shadow: 0px 1px 3px #210;
  background-color: #2b8acf;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43a4ef), to(#1773b4));
  background-image: -webkit-linear-gradient(top, #43a4ef, #1773b4);
  background-image: -moz-linear-gradient(top, #43a4ef, #1773b4);
  background-image: -o-linear-gradient(top, #43a4ef, #1773b4);
}

.togglesidebar {
  margin: 0 0 0 -1px;
  width: 19px;
  height: 19px;
  cursor:pointer;
  background:url(../images/sidebartogglen.png) no-repeat;
}

.hidden {
  background-position: -19px 0px;
}

.togglesidebar:hover {
  background-image:url(../images/sidebartoggleh.png);
}

/* RIGHT BOTTOMBAR ------------------------------------------------------------*/

#right {
  float:right;
  padding:10px 16px 8px 0px;
}

#right a {
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 5px;
  float: left;
  background-repeat: no-repeat;
  cursor: pointer;
}


/* BG Switcher START */

a.backgroundswitcher {
  background:url(../images/bgswitch.png);
  padding-left:17px;
  position: relative;
}

a.backgroundswitcher:hover, a.backgroundswitcheractive {
  background-position: 0px -19px;
}

#backgroundList {
  border:1px solid #323232;
  z-index:5;
  background:#4b4b4b;
  width:70px;
  position:absolute;
  bottom: 35px;
  left: -20px;
  padding:5px 0px 0px 5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:inset 0px 1px 1px #6d6d6d;
  -moz-box-shadow:inset 0px 1px 1px #6d6d6d;
  box-shadow:inset 0px 1px 1px #6d6d6d;
}

#backgroundList::after {
  border: 6px solid transparent;
  border-top-color: #4B4B4B;
  border-style: solid;
  position: absolute;
  z-index: 6;
  left: 32px;
  bottom: -12px;
  width: 0;
  height: 0;
  content: ' ';
}

#backgroundList a {
  margin-bottom: 5px;
  width: 18px;
  height: 19px;
}

#activebackground { 
  width: 14px;
  height: 19px;
  display: block;
}

#activebackground, #backgroundList a {
  background-image: url(/images/backgrounds/icons.png);
  background-repeat: repeat;
  background-position: right top;
}

#backgroundList a.active {
  -webkit-box-shadow: 0 0 6px #fff;
  -moz-box-shadow: 0 0 6px #fff;
  box-shadow: 0 0 6px #fff;
}

#right .bgone {
  background-position: right 0;
}
#right .bgtwo {
  background-position: right -80px;
}
#right .bgthree {
  background-position: right -160px;
}
#right .bgfour {
  background-position: right -20px;
}
#right .bgfive {
  background-position: right -100px;
}
#right .bgsix {
  background-position: right -180px;
}
#right .bgseven {
  background-position: right -40px;
}
#right .bgeight {
  background-position: right -120px;
}
#right .bgnine {
  background-position: right -200px;
}
#right .bgten {
  background-position: right -60px;
}
#right .bgeleven {
  background-position: right -140px;
}
#right .bgtwelve {
  background-position: right -220px;
}

/* Add List */
#right a.addlist {
  width: 55px;
  text-align: center;
  font-size: 0.9em;
  margin-top: -2px;
  border-radius:10px;
  border-width: 1px;
  font-weight: bold;
  color: #f0f0f0;
  text-shadow: 0px 1px 2px #210;
  -webkit-transition: color 0.2s ease-in-out;
}

#right a.addlist:hover {
  color: #fff;
  text-shadow: 0px 1px 4px #100;
  border-color: #333;
}

/* Show Help */

.showhelp {
  margin:0px 10px 0px 6px !important;
  background:url(../images/showhelp.png);
  width:19px !important;
  height:19px;
  text-indent: -9999px;
}

.showhelp:hover {
  background-position: -19px 0px;
}

span#credits {
  float: right;
  font-weight: bold;
  padding: 2px 5px;
  cursor: pointer;
}