html {
  background: #333;
  height: 100%;
  overflow: hidden;
}

body {
  display: none;
  font-size: 12px;
  color: #4e4e4e;
  overflow: hidden;
  height: 100%;
  border-top: 0px solid #666;
  background-image: url('/backgrounds/wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body, button, input, select, textarea {
  font-family: 'Open Sans', 'Lucida Grande', Arial, sans-serif;
}

body.login {
  overflow: auto;
  position: relative;
}

body.login #content , body.login #bottombar , body.login #listfunctions, body.login #sidebar{
  display: none;
}

.red{
  color: #c30;
}

.cursor{
  cursor: pointer;
}

#loading {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
}

.remove_date {
  text-align:center;
  color:#11C;
  text-decoration:underline;
  padding-bottom:5px;
  font-size:10px;
  cursor:pointer;
}

a {
  color: #393939;
}

.pl8 {
  padding-left: 8px;
}



/* SCROLLBARS */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(70,70,70,0.6);
  border: 2px solid rgba(20,20,20,0.2);
  box-shadow: none;
  -webkit-transition: all 1s linear;
}

#lists::-webkit-scrollbar-thumb {
  background: rgba(70, 70, 70, 0.2);
  border-color: rgba(240,240,240,0.2);
}

:hover::-webkit-scrollbar-thumb, #lists:hover::-webkit-scrollbar-thumb  {
  border-color: rgba(0,0,0,0.5);
  border-width: 1px;
  background-color: rgba(100,100,100,0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150,150,150, 0.8);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) ;
}

::-webkit-scrollbar-thumb:active {
  border-color: #222;
}

::-webkit-scrollbar-button {
  display: none;
}