@import 'mixins'

#lists {
  position: absolute;
  width: 260px;
  bottom: 40px;
  top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    color: #444;
    text-shadow: white 0px 1px 2px;
    padding: 10px 10px 8px 15px;
    background-color: #F8F8F8;
    linear-gradient: #F8F8F8, #F3F4F6;
    display: block;
    max-height: 25px;
    border-bottom: 1px solid #E1E2E4;
    overflow: hidden;

    label {
      color: #444;
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 120px;
      cursor: pointer;
    }

    &.inbox label::before {
      content: ' ';
      background: url('/images/icon-sprites.png') no-repeat -100px -75px;
      display: inline-block;
      width: 25px;
      height: 20px;
      float: left;
    }

    span.taskCount {
      font-size: 0.9em;
      float: right;
      width: 31px;
      height: 18px;
      text-align: center;
      display: block;
      padding-top: 1px;
      margin-top: -1px;
      font-weight: bold;
      border: 1px solid #CCC;
      border-radius: 10px;
      margin-left: 5px;
    }

    .share, .delete, .edit, .save {
      background: url('/images/icon-sprites.png') no-repeat;
      width: 15px;
      height: 15px;
      float: right;
      cursor: pointer;
      margin-top: 2px;
      margin-right: 5px;
      opacity: 0.7;
      display: none;

      &:hover {
        opacity: 1.0;
      }
    }

    .share {
      background-position: 0 -125px;
    }

    .delete {
      background-position: -25px -125px;
    }

    .edit {
      background-position: -50px -125px;
    }

    .save {
      background-position: -75px -125px;
    }


    &:hover {
      background-color: #fff;
      linear-gradient: #fff, #F7F8FA;

      .share, .delete, .edit {
        display: inline;
      }
    }


    &.selected {
      linear-gradient: #33A3EF, #168AD4;
      border-bottom: 1px solid #177BBD;

      label {
        color: #fff;
        text-shadow: #125A8A 0px 1px 2px;

        &::before {
          background-position: -100px -100px;
        }
      }


      .share {
        background-position: 0 -150px;
      }

      .delete {
        background-position: -25px -150px;
      }

      .edit {
        background-position: -50px -150px;
      }

      .save {
        background-position: -75px -150px;
      }
    }
  }
}

