<!-- Bottom Panel -->
<div id="bottomBar">
  <div class="leftBottom">
    <span class="icon sync">
      <span class="icon syncing"></span>
    </span>
    <ul class="menu"></ul>
    <span id="filters"></span>
  </div>
  <div class="rightBottom">
    <a class="addList" title="Add a new List">Add List</a>
    <a class="icon showHelp">?</a>
    <a class="icon backgroundSwitcher">
      <span class="icon activeBackground"></span>
      <span class="backgroundList"></span>
    </a>
    <a class="icon toggleSidebar" title="Toggle Sidebar"></a>
  </div>
</div>