<!-- Print / Share controls -->
<div id="sharing">
  <a rel="print tasks" class="icon print">Print Tasks</a>
  <a rel="send by email" class="icon email">Send by Email</a>
  <a rel="share with cloud app" class="icon cloud">Share with Cloud App</a>
  <div class="tooltip cloudtip">
    <span class="triangle"></span>
    <span class="copy">Copy Link</span>
    <span class="link"></span>
  </div>
</div>
<!-- Extra DOM for printing/sharing -->
<div id="extras">
  <iframe id="printFrame"></iframe>
</div>