<div id="loginheader">
  <h1>Welcome to Wunderlist</h1>
  <h2>Your free and easy task management tool</h2>
  <a class="seefeatures" href="http://6wunderkinder.com/wunderlist" target="_blank">see the features of Wunderlist</a>
  <a class="visitblog" href="http://blog.wunderlist.com/" target="_blank">visit the blog of Wunderlist</a>
</div>