@import 'mixins'

#login {
  width: 800px;
  margin: 0 auto;

  .loginHeader, .loginFooter {
    text-align: center;
    left: 0;
    right: 0;
  }

  .loginHeader h1, .seefeatures, .visitblog, .freewunderlist, .wkdownload a,
  .wkseparator, .followus p, .followus p a.follow, .wklogo, a.wklogowhite {
    background: url('/images/login-sprites.png') no-repeat;
  }

  .loginHeader {
    margin-top: 100px

    h1 {
      text-indent: -9678px;
      height: 110px;
      width: 640px;
      margin: 0 auto 20px auto;
    }

    h2 {
      display: none;
    }

    .seefeatures, .visitblog {
      text-indent: -45123px;
      display: inline-block;
      height: 44px;
      width: 179px;
    }

    .seefeatures {
      left: 150px;
      background-position: 0 -120px;
      margin-right: 11px;

      &:hover {
        background-position: 0px -164px;
      }
    }

    .visitblog {
      left: 245px;
      background-position: -200px -120px;

      &:hover {
        background-position: -200px -164px;
      }
    }
  }

  .loginDialog {
    margin: 30px 150px;
    padding: 0;
    height: 250px;
    width: 500px;
    text-align: center;
    box-shadow: 0px 3px 16px #222;
    border: none;
    border-top: 1px solid white;
    background: #E3E6ED url('/images/icons/icon2d.png') no-repeat 30px 60px;
    border-radius: 6px;
    overflow: visible;
    position: relative;

    .title {
      text-align: left;
      border-radius: 6px 6px 0 0;
      height: 40px;
      background: #ccc url('/images/dialog-sprites.png') repeat-x;
      border: none;
      border-bottom: 1px solid #9EA0A6;
      font-weight: bold;
      color: #4B4E54;
      font-size: 14px;
      padding: 10px 10px 10px 15px;
      text-shadow: 0px 1px 1px white;
    }

    .freeWunderlist {
      position: absolute;
      top: -3px;
      right: -16px;
      width: 95px;
      height: 103px;
      text-indent: -4303px;
      background-position: -400px -115px;
    }

  }

  .loginFooter {
    margin: 20px auto;
  }

  .wkdownload, .wkseparator, .followus {
    margin: 0 auto;
  }

  .wkdownload {
    width: 700px;
    height: 110px;

    a {
      width: 114px;
      height: 88px;
      display: inline-block;
      text-indent: -23718px;
    }

    .mac {
      background-position: -460px -400px;
      &:hover {
        background-position: -460px -300px;
      }
    }

    .windows {
      background-position: -345px -400px;
      &:hover {
        background-position: -345px -300px;
      }
    }

    .linux {
      background-position: -575px -400px;
      &:hover {
        background-position: -575px -300px;
      }
    }

    .ipad {
      background-position: -115px -400px;
      &:hover {
        background-position: -115px -300px;
      }
    }

    .iphone {
      background-position: 0 -400px;
      &:hover {
        background-position: 0 -300px;
      };
    }

    .android {
      background-position: -230px -400px;
      &:hover {
        background-position: -230px -300px;
      }
    }

  }

  .wkseparator {
    width: 560px;
    height: 2px;
    background-position: 0 -110px;
  }

  .followus {
    clear: both;
    width: 520px;
    height: 50px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 30px;

    p {
      background-position: -410px -220px;
      padding-left: 80px;
      width: 430px;
      margin: 0 auto;
      overflow: auto;
    }

    p a.follow {
      margin-left: 2px;
      margin-right: 8px;
      margin: 10px 8px 0 2px;
      box-shadow: 0px 1px 3px #666;
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      text-indent: -32879px;
      border-radius: 5px;
      opacity: 0.8;
      &:hover {
        opacity: 1.0;
        box-shadow: 0px 1px 5px #333;
      }
    }

    p a.twitter {
      background-position: 0 -260px;
    }

    p a.facebook {
      background-position: -40px -260px;
    }

    a.stumbleupon {
      background-position: -80px -260px;
    }

    .wklogo {
      width: 55px;
      height: 50px;
      background-position: -340px -220px; 
      cursor: pointer;
      text-indent: -34129px;
      margin: 0 auto;
    }

    a.wklogowhite {
      display: block;
      width: 330px;
      height: 50px;
      background-position: 0 -210px;
      text-indent: -34129px;
      opacity: 0;
      float: right;
    }

    &:hover {
      .wklogo {
        margin-top: -55px;
        opacity: 0;
      }
      a.wklogowhite {
        opacity: 1.0;
      }
    }

    .wklogo, .wklogowhite {
      transition: opacity 0.6s ease-out, margin-top 0.4s ease-in-out;  
    }
  }

}
