@import 'mixins'
@import 'background'


.icon {
  background: url('/images/icon-sprites.png') no-repeat;
  text-indent: -9999px;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 100;
  font-size: 11px;
  display: none;
}

.slideTransition {
  transition: 0.2s width ease-in-out, 0.2s right ease-in-out, 0.2s left ease-in-out, background-color .2s ease-in-out;
}


#layout {
  height: 100%;
  position: relative;
}

#bottomBar {
  linear-gradient: #636363 #404040;
  border-top: 1px solid #4A4A4A;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
  height: 36px;
  width: 100%;

  .leftBottom {
    float: left;
    padding: 8px;
    padding-right: 0px;
    padding-left: 4px;
  }

  .rightBottom {
    float:right;
    padding:10px 16px 8px 0px;

    a {
      width: 19px;
      height: 19px;
      display: inline-block;
      margin-right: 5px;
      float: left;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    a.addList {
      text-align: center;
      font-size: 0.9em;
      margin-top: -4px;
      font-weight: bold;
      color: #eee;
      text-shadow: 0px 1px 2px #210;
      box-shadow: inset 0 0 2px rgba(255,255,255,0.8);
      padding: 3px 8px;
      width: 55px;
      height: 16px;
      border-radius: 20px;
      background-color: #2B8ACF;
      border: 1px solid #343434;
      linear-gradient: #43A4EF, #1773B4;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #fff;
        text-shadow: 0px 1px 5px #000;
        border-color: #333;
      }
    }

    a.showHelp {
      background-position: 0 -50px;
      margin: 0px 10px;

      &:hover {
        background-position: -25px -50px;
      }
    }

    a.toggleSidebar {
      background-position: 0px -75px;

      &:hover {
        background-position: -50px -75px;
      }
    }

  }

}



/**
 * Closed Sidebar
 */
body.sidebarClosed {

  #bottomBar .rightBottom a.toggleSidebar {
    background-position: -25px -75px;

    &:hover {
      background-position: -75px -75px;
    }
  }

}



@import 'sharing'
@import 'sidebar'
@import 'list'