@import 'mixins'

#layout {
  height: 100%;
  position: relative;
}

#bottomBar {
  background: url(/images/bottombar.png) repeat-x;
  linear-gradient: #636363 #404040;
  border-top: 1px solid #4A4A4A;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
  height: 36px;
  width: 100%;

  .leftBottom {
    float: left;
    padding: 8px;
    padding-right: 0px;
    padding-left: 4px;
  }

  .rightBottom {
    float:right;
    padding:10px 16px 8px 0px;

    a {
      width: 19px;
      height: 19px;
      display: inline-block;
      margin-right: 5px;
      float: left;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

}



.icon {
  background: url('/images/icon-sprites.png') no-repeat;
  text-indent: -9999px;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 100;
  font-size: 11px;
  display: none;
}



@import('sharing')
@import('sidebar')
@import('list')