<style type="text/css">
  @import url('/css/layout.css');
</style>

<div id="layout">

  <!-- SideBar -->
  <div id="sidebar">
    <div class="searchSide">
      <input type="text" id="search" placeholder="Search for tasks" autocomplete='off' />
      <span class="icon lens"></span>
      <span class="icon clearSearch"></span>
    </div>
    <ol id="lists"></ol>
    <div id="notification"><div></div></div>
  </div>


  <!-- Task Listings -->
  <div id="tasks"></div>


  <!-- Print / Share controls -->
  <div id="sharing">
    <a rel="print tasks" class="icon print">Print Tasks</a>
    <a rel="send by email" class="icon email">Send by Email</a>
    <a rel="share with cloud app" class="icon cloud">Share with Cloud App</a>
    <div class="tooltip cloudtip">
      <span class="triangle"></span>
      <span class="copy">Copy Link</span>
      <span class="link"></span>
    </div>
  </div>
  <!-- Extra DOM for printing/sharing -->
  <div id="extras">
    <iframe id="printFrame"></iframe>
  </div>


  <!-- Bottom Panel -->
  <div id="bottomBar">
    <div class="leftBottom">
      <span class="icon sync">
        <span class="icon syncing"></span>
      </span>
      <ul class="menu"></ul>
      <span id="filters"></span>
    </div>
    <div class="rightBottom">
      <a class="addList" title="Add a new List">Add List</a>
      <a class="icon showHelp">?</a>
      <a class="icon backgroundSwitcher">
        <span class="icon activeBackground"></span>
        <span class="backgroundList"></span>
      </a>
      <a class="icon toggleSidebar" title="Toggle Sidebar"></a>
    </div>
  </div>

</div>