<div id="login">
  <div class="loginHeader">
    <h1>Welcome to Wunderlist</h1>
    <h2>Your free and easy task management tool</h2>
    <a class="seefeatures" href="http://6wunderkinder.com/wunderlist">see the features of Wunderlist</a>
    <a class="visitblog" href="http://blog.wunderlist.com/">visit the blog of Wunderlist</a>
  </div>

  <div class="loginFooter">
    <div class="wkdownload">
      <a class="mac" href="http://itunes.apple.com/app/wunderlist/id410628904?mt=12&amp;ls=1">Download for Mac OSX</a>
      <a class="windows" href="http://www.6wunderkinder.com/downloads/wunderlist-1.2.2-win.msi">Download for Windows</a>
      <a class="linux" href="http://www.6wunderkinder.com/downloads/wunderlist-1.2.4-linux-64.tgz">Download for Linux</a>
      <a class="ipad" href="http://itunes.apple.com/us/app/wunderlist-hd/id420670429">Download for iPad</a>
      <a class="iphone" href="http://itunes.apple.com/us/app/wunderlist-to-do-listen/id406644151">Download for iPhone</a>
      <a class="android" href="https://market.android.com/details?id=com.wunderkinder.wunderlistandroid">Download for Android</a>
    </div>
    <div class="wkseparator"></div>
    <div class="followus">
      <div class="wklogo">6W</div>
      <p>
        <a class="follow twitter" href="http://www.twitter.com/6wunderkinder">Follow us on Twitter</a>
        <a class="follow facebook" href="http://www.facebook.com/6wunderkinder">Follow Us on Facebook</a>
        <a class="wklogowhite" href="http://www.6wunderkinder.com">6Wunderkinder</a>
      </p>
    </div>
  </div>
</div>