<!-- SideBar -->
<div id="sidebar">
  <div class="searchSide">
    <input type="text" id="search" placeholder="Search for tasks" autocomplete='off' />
    <span class="icon lens"></span>
    <span class="icon clearSearch"></span>
  </div>
  <ol id="lists"></ol>
  <div id="notification"><div></div></div>
</div>